<table class="table">
  <thead>
    <tr>
      {{#each config}}
        <th scope="col">{{this.header}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#list config table_data}}{{/list}}
  </tbody>
</table>

<script>

    let env = 'local_uri';

    function deleteRow(id) {
          fetch(`${localStorage.getItem(`${env}`)}/employer/delete_jobs/${id}`, {
                method : 'DELETE'
            })
          .then((result) => {
                window.location.reload();
          })
          .catch(err => {
            console.log(err)
          })
    }
  
</script>