<div id="tabs">
    <span id = "post_jobs" class={{tab_detail}}><a href="/employee/view_details">Details</a></span>
    <span id = "view_jobs" class={{tab_view_apply_jobs}}><a href="/employee/view_apply_jobs">View & Apply Jobs</a></span>
    <span id = "view_jobs" class={{tab_applied_jobs}}><a href="/employee/applied_jobs">Applied Jobs</a></span>
</div>