<div id="tabs">
    <span id = "post_jobs"><a href="/employee/post_jobs">Details</a></span>
    <span id = "view_jobs"><a href="/employee/view_jobs">View & Apply Jobs</a></span>
    <span id = "view_jobs"><a href="/employee/view_jobs">Applied Jobs</a></span>
</div>