<div id="tabs">
    <span id = "post_jobs"><a href="/employer/post_jobs" class={{post_tab_active}}>Post Jobs</a></span>
    <span id = "view_jobs"><a href="/employer/view_jobs" class={{view_tab_active}}>View Jobs</a></span>
</div>

