{{> navbar}}
<section class="about-banner banner-item-01">
    <div class="banner-text">
        <h4>About us</h4>
        <h2>Our Company</h2>
    </div>
</section>
<section>
    <div class="container about-container">
        <div class="featureJobs">
            <span>Lorem ipsum dolor sit amet consectetur adipisicing</span>
        </div>
        <div class="row gx-5">
            <div class="col-md-6 col-12">
                <img src="../images/assets/images/about-1-570x350.jpg" alt="" width = "500px">
            </div>
            <div class="col-md-6 col-12 about-content">
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Sed voluptate nihil eum consectetur similique? 
                    Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis 
                    dicta dolorem non blanditiis ex fugiat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa 
                    voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus 
                    perspiciatis quis.
                </span>
            </div>
        </div>
    </div>
</section>