{{> navbar}}
<!--Banner Area -->
<section class="banner banner-item-01">
    <div class="banner-text">
        <h4>Find your job today!</h4>
        <h2>Best Agency to help you find job</h2>
    </div>
</section>
<!---Job Featuring Area --->
<section>
    <div class="container">
        <div class = "featureJobs">
            <span>Featured Jobs</span>
        </div>
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/assets/images/product-1-370x270.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Painting</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/assets/images/product-2-370x270.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Civil Servant</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/assets/images/product-3-370x270.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Teaching</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!------About us ----->
<br>
<br>
<section>
    <div class="container mt-5">
        <div class = "featureJobs">
            <span>About us</span>
        </div>
        <div class="row">
            <div class="col-md-6 col-12">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Explicabo, esse consequatur alias repellat in excepturi inventore ad asperiores tempora ipsa. 
                Accusantium tenetur voluptate labore aperiam molestiae rerum excepturi minus in pariatur praesentium, corporis, 
                aliquid dicta
            </div>
            <div class="col-md-6 col-12">
                <img src="../images/assets/images/about-1-570x350.jpg" alt="" width = "500px">
            </div>
        </div>
    </div>
</section>
<br>
<br>
<!---Happy Clients-------->
<section>
    <div class="container">
        <div class = "featureJobs">
            <span>Happy Clients</span>
        </div>
        <div class="row">
            <div class="col-md-4 col-12 happy-client">
                <img src="../images/assets/images/team_01.jpg" alt="" height="250px">
                <span>Anthony Gill</span>
                <em>"Lorem ipsum dolor sit amet, consectetur adipisicing."</em>
            </div>
            <div class="col-md-4 col-12 happy-client">
                <img src="../images/assets/images/team_02.jpg" alt="" height="250px">
                <span>Sarah Gilbert</span>
                <em>"Lorem ipsum dolor sit amet, consectetur adipisicing."</em>
            </div>
            <div class="col-md-4 col-12 happy-client">
                <img src="../images/assets/images/team_03.jpg" alt="" height="250px">
                <span>Ashton Kutcher</span>
                <em>"Lorem ipsum dolor sit amet, consectetur adipisicing."</em>
            </div>
        </div>
    </div>
</section>